{% extends "base.html" %}
{% block content %}
        <div name="description"><p>На этой страничке представлено поле для настольной игры "Шакал". <br> Вся прелесть этой настольной игры заключается в том, что поле в каждой новой партии отличается от всех предыдущих. Игроки сами его создают - просто переворачивают 117 одинаковых клеточек, перемешивают их и раскладывают рубашкой вверх. Бывает так, что кому-то изначельно достается больше золота (ближе лежит к кораблю игрока), такие случаи не редкость. Цель этого web-приложения генерировать случайным образом поле так, чтобы всем доставалось примерно одинаково.</p></div>
{% endblock %}


